# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.ipynb_checkpoints/

# Environments (keep envs out of Git)
.venv/
venv/
env/
.conda/
conda-env/
.mamba/
.env
*.env

# IDE
.idea/
.vscode/

# OS cruft
.DS_Store

# Optional: notebooks, data scratch
*.log
*.tmp

# Tool caches & test artifacts
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.tox/

# Directory
spline_isopach/